.parallex {
  /* The image used */
  background-image: url("/images/tv-plus-bg.mp4");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  // font-size: 40px;
  // h1 {
  //   margin: 0px;
  // }
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  button {
    color: #000;
    background-color: #fff;
    border-radius: 980px;
    padding: 15px 26px;
    outline: none;
    border: none;
  }
}
.paragraph {
  height: fit-content;
  background-color: transparent;
  height: fit-content;
  background-color: black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 200px;
  // p {
  //   font-size: 62px;
  //   font-weight: bold;
  //   color: #fff;
  // }
}

.package {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .title {
    top: 30% !important;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}

@media only screen and (max-width: 820px) {
  .title {
    top: 30% !important;
    font-size: 30px;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    top: 30% !important;
    font-size: 30px;
  }
  .paragraph {
    padding: 0.1rem 4rem !important;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
